@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda');

#container {
    margin-top: 100px;
}

#insertCard {
    height: 300px;
}

.card {
    box-shadow: 1px 1px 10px black;
    background: linear-gradient(to right, #c1cfff, #779cff);
    width: 200px;
    height: 260px;
    margin-left: 0;
    left: 0;
    margin-right: auto;
}

.card-title {
    font-family: 'Lobster', cursive;
    border-bottom: 1px dotted black;
    font-size: large;
    text-align: center;
}

.form-group label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.form-group input {
    border-color: #5580f7;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group input:focus {
    border-color: aqua;
    background-color: rgb(238, 250, 253);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#searchButton, #insertButton {
    background: linear-gradient(to right, #87b9cf, #50d1d5);
    color: rgb(42, 41, 41) !important;
    font-family: 'Lobster', cursive;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#personTable {
    opacity: 0;
    width: 45%;
    margin-right: 300px;
    right: 0;
    margin-left: auto;
    margin-top: -600px;
}

#personTable button {
    background: linear-gradient(to right, #c1cfff, #779cff);
    color: rgb(65, 65, 65) !important;
    font-family: 'Lobster', cursive;
    height: 35px !important;
}
