@charset "UTF-8";

#loginCard {
    width: 50% !important; 
    height: 450px !important;
    background: linear-gradient(to right, #d0dbff, #5580f7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px !important; 
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5) !important; 
    padding: 10px 10px 10px 10px !important;
    align-self: center !important;
}

.card-title {
    display: block;
    text-align: center;
    font-size: x-large;
    border-bottom: black solid 3px;
}

label {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60% !important;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: large;
    border-color: #5580f7;
}

input:focus {
    border-color: aqua;
    background-color: rgb(238, 250, 253);
}

#loginButton {
    border-radius: 25%;
    background: linear-gradient(to right, #d0dbff, #5580f7);
    font-size: medium;
    color: black;
    padding: 10px;
    width: 30%;
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#loginButton:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #a6b9f8, #4bcdee);
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    transition: all 0.3s ease;
}
